.sprite-gazeta, .sprite-logocat-black, .sprite-logodog-black, .sprite-gazeta-mini, .sprite-logocat,
.sprite-logodog, .sprite-logocat-black-mini, .sprite-logodog-black-mini, .sprite-gazeta-link, .sprite-photo,
.sprite-video, .sprite-cats, .sprite-dogs, .sprite-home, .sprite-logocat-mini,
.sprite-logodog-mini, .sprite-fb, .sprite-fb:hover, .sprite-twi, .sprite-twi:hover,
.sprite-vk, .sprite-vk:hover, .sprite-layer-figure, .sprite-new, .sprite-menu-close,
.sprite-menu-open, .sprite-arrow-left, .sprite-arrow-right, .sprite-sex, .sprite-age,
.sprite-color, .sprite-search-open, .sprite-search, .sprite-wool, .sprite-close:hover,
.sprite-close, .sprite-check-off, .sprite-check-on, .sprite-arrow, .sprite-growth,
.sprite-footer-background{
  display: inline-block;
  background: url('http://static.gazeta.ru/nm2012/i/catsdog/sprite-pets-v3.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
@mixin sprite-position($background-position, $width, $height) {
  background-position: $background-position;
  width: $width;
  height: $height;
}
.sprite-gazeta{@include sprite-position(-2px -0px, 222px, 28px)}
.sprite-logocat-black{@include sprite-position(-2px -30px, 201px, 64px)}
.sprite-logodog-black{@include sprite-position(-2px -96px, 201px, 64px)}
.sprite-gazeta-mini{@include sprite-position(-2px -162px, 126px, 16px)}
.sprite-logocat{@include sprite-position(-2px -180px, 121px, 38px)}
.sprite-logodog{@include sprite-position(-2px -220px, 121px, 38px)}
.sprite-logocat-black-mini{@include sprite-position(-130px -162px, 92px, 29px)}
.sprite-logodog-black-mini{@include sprite-position(-125px -193px, 92px, 29px)}
.sprite-gazeta-link{@include sprite-position(-125px -224px, 91px, 23px)}
.sprite-photo{@include sprite-position(-125px -249px, 62px, 47px)}
.sprite-video{@include sprite-position(-2px -260px, 56px, 56px)}
.sprite-cats{@include sprite-position(-60px -260px, 40px, 40px)}
.sprite-dogs{@include sprite-position(-102px -298px, 40px, 40px)}
.sprite-home{@include sprite-position(-144px -298px, 40px, 40px)}
.sprite-logocat-mini{@include sprite-position(-60px -302px, 38px, 38px)}
.sprite-logodog-mini{@include sprite-position(-2px -318px, 38px, 38px)}
.sprite-fb{@include sprite-position(-186px -298px, 34px, 34px)}
.sprite-fb:hover{@include sprite-position(-186px -334px, 34px, 34px)}
.sprite-twi{@include sprite-position(-100px -340px, 34px, 34px)}
.sprite-twi:hover{@include sprite-position(-136px -340px, 34px, 34px)}
.sprite-vk{@include sprite-position(-42px -342px, 34px, 34px)}
.sprite-vk:hover{@include sprite-position(-2px -358px, 34px, 34px)}
.sprite-layer-figure{@include sprite-position(-189px -249px, 31px, 45px)}
.sprite-new{@include sprite-position(-172px -370px, 30px, 30px)}
.sprite-menu-close{@include sprite-position(-78px -376px, 24px, 24px)}
.sprite-menu-open{@include sprite-position(-104px -376px, 24px, 24px)}
.sprite-arrow-left{@include sprite-position(-130px -376px, 23px, 40px)}
.sprite-arrow-right{@include sprite-position(-38px -378px, 23px, 40px)}
.sprite-sex{@include sprite-position(-2px -394px, 22px, 23px)}
.sprite-age{@include sprite-position(-102px -260px, 20px, 18px)}
.sprite-color{@include sprite-position(-78px -342px, 20px, 20px)}
.sprite-search-open{@include sprite-position(-155px -402px, 20px, 20px)}
.sprite-search{@include sprite-position(-63px -402px, 20px, 20px)}
.sprite-wool{@include sprite-position(-177px -402px, 20px, 20px)}
.sprite-close:hover{@include sprite-position(-204px -370px, 18px, 18px)}
.sprite-close{@include sprite-position(-204px -390px, 18px, 18px)}
.sprite-check-off{@include sprite-position(-205px -30px, 12px, 12px)}
.sprite-check-on{@include sprite-position(-205px -44px, 12px, 12px)}
.sprite-arrow{@include sprite-position(-205px -58px, 9px, 9px)}
.sprite-growth{@include sprite-position(-205px -69px, 8px, 20px)}
.sprite-footer-background{@include sprite-position(-26px -394px, 1px, 284px)}